$tweather-white: #F1E2EE;
$tweather-white-light: rgba(241,226,238,0.7);
$tweather-white-xlight: rgba(241,226,238,0.3);

$tweather-purple: #161557;
$tweather-purple-dark: #261851;

$tweather-orange: #DB7232;