/* *** Results animations *** */

.resultsDefault {
    
        opacity: 0;
        display: none;

}

.resultsOn {
    
        opacity: 1;
        display: block;
        transition: opacity 1s ease-in;
        transition: display 1s ease-in;

}

.resultsOff {
    
        opacity: 0;
        display: none;
        transition: opacity 1s ease-out;
        transition: display 1s ease-out;

} 